<!DOCTYPE html>
<html {% block html_attribs %}{% endblock html_attribs %}>

<head>
    <title>{% block title %}Кровля Пятигорск{% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/my_styles.css" rel="stylesheet">
</head>


<body>
{% set navigation_bar = [('/', '/', 'Услуги'), ('/materials', '/materials', 'Кровельные материалы'),
                            ('/portfolio', '/portfolio', 'Наши работы'), ('/calc', '/calc', 'Расчет крыши'),
                            ('/reviews', '/reviews', 'Отзывы'), ('/about', '/about', 'О нас'),
                            ('/contacts', '/contacts', 'Контакты')] %}
{% set active_page = active_page|default('/') %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand text-muted" href="/">Купол КМВ</a>
            <div class="collapse navbar-collapse">

                <ul class="nav navbar-nav navbar-right" id="navigation">
                    {% for href, id, caption in navigation_bar %}
                        <li {% if id == active_page %} class="active"{% endif %}>
                        <a href="{{ href|e }}">{{ caption|e }}</a></li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>

    <div id="myCarousel" class="carousel slide">
        <div class="container">
            <ol class="carousel-indicators">
                <li class="active" data-target="#myCarousel" data-slide-to="0"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="static/img/1carousel.jpg" alt="мягкая кровля katepal">
                    <div class="carousel-caption">
                        <h3></h3>
                    </div>
                </div>
                <div class="item">
                    <img src="static/img/2carousel.jpg" alt="grand line">
                </div>
                <div class="item">
                    <img src="static/img/3carousel.jpg" alt="навес">
                </div>
                <div class="item">
                    <img src="static/img/4carousel.jpg" alt="крыша беседки">
                </div>
                <div class="item">
                    <img src="static/img/5carousel.jpg" alt="металлочерепица braas">
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>


    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

</body>
</html>